[submodule "vendors/AHWEBDEV/Framework"]
	path = vendors/AHWEBDEV/Framework
	url = git@github.com:AHWEBDEV/Framework.git
[submodule "vendors/AHWEBDEV/Wordpress"]
        path = vendors/AHWEBDEV/Wordpress
	url = git@github.com:AHWEBDEV/WordpressPluginFramework.git
[submodule "vendors/Facebook"]
	path = vendors/Facebook
	url = git@github.com:facebook/facebook-php-sdk-v4.git
[submodule "vendors/AHWEBDEV/FacebookAWD/Plugin/LikeButton"]
	path = vendors/AHWEBDEV/FacebookAWD/Plugin/LikeButton
	url = git@github.com:Facebook-AWD/LikeButton.git
